@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  :root {
    --removed-body-scroll-bar-size: 0px;
  }

  html {
    scrollbar-gutter: stable both-edges;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    overflow-x: hidden;
    width: 100%;
    position: relative;

    .padding-15rems {
      padding-top: 18rem;
    }

    .padding-8rems {
      padding-top: 8rem;
    }

    .width-img {
      width: 150px;
    }
  }

  #root {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}